@import '../../styles/abstract/custom-variables';
@import '../../styles/abstract/custom-mixins';

.item {
    position: relative;
    padding: 40px 35px;
    overflow: hidden;
    z-index: 1;
    &:before {
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}
.secondary {
    &__bg {
        background-color: $secondary;
    }
}
.primary {
    &__bg {
        background-color: $primary;
        .content {
            &:before {
                color: #ff6e2b;
            }
        }
        .link {
            &__btn {
                &:hover {
                    color: $white;
                }
            }
        }
    }
}
.content {
    z-index: 2;
    &:before {
        content: attr(data-count);
        color: $primary;
        display: block;
        position: absolute;
        bottom: -21px;
        right: 0px;
        font-size: 120px;
        font-weight: 900;
        line-height: 1;
        z-index: -1;
    }
}
.title {
    font-size: 28px;
    line-height: 1.2;
    color: $primary;
}
.desc {
    font-family: $yantramanav;
    color: $primary;
    font-weight: 300;
    font-size: 18px;
}
.link {
    &__btn {
        font-size: 18px;
        display: inline-flex;
        color: $white;
        .icon {
            vertical-align: text-top;
            padding-left: 10px;
            display: inline-flex;
            align-items: center;
            color: inherit;
        }
        &:hover {
            color: $primary;
        }
    }
}
